body {
  background-color: #dbdbdb;
}
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
  height: 1000px;
}

/* Set gray background color and 100% height */
.sidenav {
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }
}

#video-container {
  height: 60%;
  width: 100%;
}
#video-container iframe {
  position: relative;
  height: 75%;
  width: 100%;
}
#comments-container {
  height: 300px;
  width: 100%;
  overflow: scroll;
  padding: 10px;
  margin-top: 5px;
}
.other-vids-container {
  margin-top: 20px;
  height: 1000px;
  overflow: scroll;
}

.other-vids-container img {
  height: 150px;
  width: auto;
}

.other-vids-container img,
a {
  cursor: pointer;
}
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.navbar.navbar-default {
  top: 0;
  position: sticky;
  z-index: 1;
  box-shadow: 0px 4px 20px 0 #00000045;
}

#page-container {
  background-color: white;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 13px 0px #0000003d;
}
